CREATE_SU_IPS=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DJANGO_ALLOWED_HOSTS=
DJANGO_DEBUG=
DJANGO_PORT=
EMAIL_DEF_SENDER=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
SECRET_KEY=
